<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="na.severinchik.iba_kotlin_lesson_14">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Iba_kotlin_lesson_14">
        <activity android:name=".FragmentActivity"></activity>
        <activity android:name=".GestureActivity" />
        <activity android:name=".DrawableAnimActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".animationactivities.NoAnimationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".animationactivities.LaunchRocketValueAnimatorAnimationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".animationactivities.RotateRocketAnimationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".animationactivities.AccelerateRocketAnimationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".animationactivities.LaunchRocketObjectAnimatorAnimationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".animationactivities.ColorAnimationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".animationactivities.LaunchAndSpinAnimatorSetAnimatorActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".animationactivities.LaunchAndSpinViewPropertyAnimatorAnimationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".animationactivities.FlyWithDogeAnimationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".animationactivities.WithListenerAnimationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".animationactivities.FlyThereAndBackAnimationActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".animationactivities.XmlAnimationActivity"
            android:label="@string/app_name" />
    </application>

</manifest>